@mixin center($xy: xy) {
  @if $xy == xy {
    top: 50%; left: 50%; bottom: auto; right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    right: auto; left: 50%;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%; bottom: auto;
    transform: translateY(-50%);
  }
}

@mixin flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: center, $align-items: center, $align-content: auto) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}

@mixin inline-flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: center, $align-items: center, $align-content: auto) {
  display: inline-flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}

// allows you to specify styles for an element when it is in another element
@mixin is-in ($selector) {
  #{$selector} & {
    @content;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content }
  :-moz-placeholder { @content }
  ::-moz-placeholder { @content }
  :-ms-input-placeholder { @content }
}
