@import 'variables';
@import 'mixins';
@import 'normalize';

html {
	font-size: 1em;
	line-height: 1.4;
}

* {
	box-sizing: border-box;
	user-drag: none;
	user-select: none;
	outline: none !important;
	cursor: default;
}

.fa {
	outline: 0;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body, #app { height: 100vh; width: 100vw; margin: 0; padding: 0; }
ul { margin: 0; padding: 0; list-style: none; }
li { margin: 0; padding: 0; }
h1 { margin: 0; padding: 0; }
#main_window {
	height: 100%;
	perspective: 1500px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.layer {
	position: absolute;
	width: 100%; height: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
}

#dice {
	@include flex(column, nowrap, space-around, center);
	z-index: 99;
	transition: all 0.3s;
	backface-visibility: hidden;
	&.hidden {
		pointer-events: none;
		transform: rotateY(180deg);
	}
	.die {
		width: 120px; height: 120px;
		color: white;
		background: black;
		border: 4px solid white;
		border-radius: 10px;
		font-size: 80px;
		line-height: 115px;
		text-align: center;
		&.player_2 { transform: rotate(180deg); } }
}

#main_window {
	display: flex;
	flex-flow: column nowrap;
	background: url(../img/tekstury/png1.png) no-repeat center;
	background-size: cover;
	transition: opacity 1s;
	&.hidden { opacity: 0; }
	&.poison-counter-visible, &.commander-counter-visible {
		.counter--life { margin-top: -30px; }
	}
	&.poison-counter-visible.commander-counter-visible {
		.counter--poison {
			transform: translateX(0);
			left: 10%;
		}
		.counter--commander {
			transform: translateX(0);
			right: 10%;
		}
	}
}

.counter--poison, .counter--commander {
	bottom: 5px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all 0.3s;
}
.counter--poison {
	left: 50%;
	transform: translateX(-50%);
	.count:after {
		background-image: url(../img/ikony/poison.png);
		background-position: 50% 50%;
	}
}
.counter--commander {
	right: 50%;
	transform: translateX(50%);
	.count:after {
		background-image: url(../img/ikony/commander.svg);
		background-position: 50% 35%;
	}
}

#counters {
	position: relative;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	z-index: 1;
	opacity: 1;
	transition: all 0.3s;
	backface-visibility: hidden;
	&.hidden {
		transform: rotateY(-180deg);
		pointer-events: none;
	}
	.player {
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		color: rgba(black, 0.5);
		position: relative;
		.other {
			flex: 1;
			width: 100%;
			position: absolute;
    	bottom: 5px;
			background-color: rgba(red, 0.2);
			.minus, .plus {
				font-size: 1.5em;
				padding: 20px 0;
			}
			.count {
				margin: 0 8px;
				font-weight: bold;
				font-size: 2em;
				padding: 20px 10px;
				position: relative;
				min-width: 56px;
				text-align: center;
				&:after {
					content: "";
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;
					background-repeat: no-repeat;
					background-size: contain;
					opacity: 0.25;
					z-index: -1;
				}
			}
		}
	}
	.player_2 { transform: rotate(180deg); }
}

.color-wheel {
  position: absolute;
  @include center(y);
  width: 192px; height: 192px;
  transition: opacity 0.3s;
  &.hidden {
    img { transform: scale(0.2); }
  }
  img {
    $size: 56px;
    position: absolute;
    width: $size; height: $size;
    transition: transform 0.3s;
    &.white { top: -$size / 2; left: 50%; margin-left: -$size / 2; }
    &.blue { top: 24%; right: -$size / 2; }
    &.black { bottom: -15px; right: 10px; }
    &.red { bottom: -15px; left: 10px; }
    &.green { top: 24%; left: -$size / 2; }
  }
}

.counter {
  &--life {
    display: flex;
    width: 100%;
    flex: 2;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s;
    .minus, .plus {
      font-size: 4.5em;
      padding: 20px 0;
    }
    .count { font-size: 10em; }
  }
}

.settings {
	position: absolute;
	bottom: 50%;
	width: 100%;
	background-color: transparent;
	color: rgba(black, 0.5);
	font-size: 2.5em;
	padding: 0 5px;
	text-align: right;
	transition: background-color 0.3s ease, opacity 0.4s ease;
	overflow: hidden;
	z-index: 2;
  transform: translateY(50%);
	&--opened {
		background-color: rgba(black, 0.1);
		.settings__icons-wrapper {
			opacity: 1;
			left: 0;
			pointer-events: auto;
		}
		.fa-cog { transform: rotate(-90deg); }
	}
	&--hidden {
		transition: background-color 0.3s ease, opacity 0.3s ease 0.3s;
		pointer-events: none;
		opacity: 0;
	}
	&__icons-wrapper {
		position: relative;
		left: 250px;
		opacity: 0;
		float: left;
		pointer-events: none;
		transition: all 0.5s ease;
	}
	&__icon {
		display: inline-block;
		margin-right: 10px;
		transition: all 0.3s ease;
		&:active { opacity: 0.85; transform: scale(1.1); }
		&.poison, &.commander, &.dice {
    	position: relative;
			top: 6px;
			height: 42px;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			opacity: 0.5;
		}
		&.poison {
			background-image: url(../img/ikony/poison.svg);
			width: 26px;
		}
		&.commander {
			background-image: url(../img/ikony/commander.svg);
			width: 35px;
		}
		&.dice {
      background-image: url(../img/ikony/dice.svg);
      width: 35px;
		}
	}
	.fa-cog {	transition: all 0.3s; }
	.fa, .settings__icon {
		&[disabled] {
			opacity: 0.15;
			pointer-events: none;
		}
	}
}

.plus, .minus {
	transition: color 0.3s;
	&:active {
		color: rgba(0,0,0,0.85);
	}
}

@media (min-width: 1000px) {
	body { perspective: 500px; }
	.tokens-visible .settings { bottom: 160px; }
	#main_window {
		position: absolute;
		margin: 0 auto;
		top: 90px;
		left: 0; right: 0; bottom: 0;
		width: 360px;
		height: 640px;
		box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.75);
		z-index: 2;
		&:before {
			content: '';
			position: absolute;
			top: -76px;
			left: -28px;
			width: 418px; height: 812px;
			background: url(../img/bgphone.png) no-repeat;
			z-index: 1; } }
	.settings {
		&.opened { background-color: rgba(black, 0.1); }
		.icon:hover { opacity: 1; }
		.fa:hover { opacity: 1; color: rgba(0,0,0,1); }
	}
	.icon, .settings__icon, .fa, .minus, .plus {
		cursor: pointer;
	}
}
